<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="Jare_Rule_Engine_Client_Plugin"
   iconfile="../check_ok.png"
   description="JaRE Business Rule Engine Client"
   tooltip="Step for Java Business Rule Engine Client - JaRE"
   category="Validation"
   classname="com.datamelt.kettle.jareclient.JareClientPluginMeta">
   <libraries>
	<library name="../jare_plugin_0.2.jar"/>
	<library name="../jare0.74.jar"/>
    </libraries>

   <localized_category>
     <category locale="en_US">Validation</category>
	 <category locale="de_DE">Validation</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Rule Engine Client</description>
	 <description locale="de_DE">Rule Engine Client</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Checks data using rules running on a JaRE server</tooltip>
	 <tooltip locale="de_DE">Prüft Daten mit Hilfe von Regeln, die auf einem JaRE Server laufen</tooltip>
   </localized_tooltip>
   
</plugin>
